@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

$pink: #F16D7F; 

@mixin fontf($ff, $fs, $fw, $lh) {
  $ff: font-family;
  $fs: font-size;
  $fw: font-weight;
  $lh: line-height;
  color: $pink;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top {
  flex-grow: 1;
}

.text {
  font-family: lato;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.order {
 list-style-type: none;
 position: relative;
}
.point{
  list-style-type: none;
}
.container-header {
  max-width: 1600px;
  margin: 0 auto;
}

.menu {
  background: #222222;
  height: 75px;
}

.menu .menu-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 19px;
}

.menu .button-menu-left {
  margin-right: 41px;
}

.menu .button-menu-right {
  margin-right: 33px;
}

.menu-right-flex {
  display: flex;
  align-items: center;
}

.header {
  background: #F1E4E6;
  height: 764px;
  margin-bottom: 65px;
}

.header .header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .shift-logo {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.logo {
  display: flex;
  flex-grow: 1;
}

.header .logo {
  font-weight: 700;
  font-size: 32px;
}

.logo::before {
  content: url(../img-1/Rectangle.svg);
  margin-right: 16px;
}

.red-logo {
  color: $pink;
}

.logo-wrap {
  white-space: nowrap;
}

.content-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.content-first-part {
  position: relative;
  transition: scale, 0.3s;
}

.content-first-part:hover {
 transform: scale(1.1);
}

.content-second-part {
  position: relative;
  transition: scale, 0.3s;
}

.content-second-part:hover {
 transform: scale(1.1);
}

.content-third-part {
  position: relative;
  transition: scale, 0.3s;
}

.content-third-part:hover {
 transform: scale(1.1);
}

.content-big-part {
  position: relative;
  transition: scale, 0.3s;
}

.content-big-part:hover {
  transform: scale(1.1);
 }

.content-text {
  position: absolute;
  left: 103px;
  top: 105px;
  font-size: 16px;
  line-height: 28,8px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
}

.content-link:hover .content-text {
  color: $pink;
}

.content-position-2 {
  left: 125px;
}

.content-position-3 {
  left: 123px;
}
.content-big-text {
  position: absolute;
  left: 492px;
  top: 65px;
  font-size: 16px;
  line-height: 28,8px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
}

.content-big-link:hover .content-big-text {
  color: $pink;
}

.content-red-text {
  font-size: 24px;
  color: $pink;
  font-weight: 700;
}
.menu-list-container {
  position: absolute;
  display: none;
  z-index: 2;
}

.menu-list {
  background-color: #FFF;
  padding: 34px;
  top: 31px;

  .menu-list-heading {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  .menu-list-header{
    font-size: 14px;
  line-height: 17px;
  color: $pink;
  margin-bottom: 7.5px;
  text-transform: uppercase;
  }

  .menu-list-link {
    display: block;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-decoration: none;
    padding: 0 21px;
    margin-bottom: 7.5px;
  }

  .menu-list-link:hover {
    color: $pink;


  }
  
}
.first {
  padding-bottom: 10px;
}

.last {
  padding-top: 10px;
}

.order:hover .menu-list-container {
  display: flex;
  flex-direction: column;
}

.new {
  margin-bottom: 96px;
}
.catalog {
  margin-bottom: 95px;
  .catalog-top {
    text-align: center;
  }

  .catalog-header {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
  }

  .catalog-header-text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
  }

  .catalog-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .catalog-item-card {
    width: 360px;
    background: #F8F8F8;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    width: 360px;
  }

  .card-heading {
    margin-top: 7px;
    margin-bottom: 12px;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
  }

  .catalog-card-text {
    padding: 18px;
  }

  .card-text {
    margin-bottom: 18px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: rgba(93, 93, 93, 1);
  }

  .card-red-text {
    font-size: 16px;
    line-height: 19px;
    color: $pink;
  }

  .catalog-more {
    text-align: center;
  }

  .catalog-more-button {
    border: 1px solid $pink;
    text-decoration: none;
    padding: 14px 38.5px;
    transition: color, 0.3s;
  }

  .catalog-more-text {
    font-size: 16px;
    line-height: 19px;
    color: $pink;
  }

  .catalog-more-button:hover {
    background: $pink;
    border-color: 1px solid transparent;
  }

  .catalog-more-button:hover .catalog-more-text {
    color: #FFF;
    border: 1px solid transparent;
    background: $pink;
  }

  .item:hover .card-img {
    filter: brightness(30%);
  }

  .item {
    margin-bottom: 30px;
    position: relative;
  }

  .add-item {
    position: absolute;
    display: none;
    justify-content: center;
    min-width: 100%;
    pointer-events: none;
    top: 188px;
  }

  .cart {
    text-decoration: none;
    border: 1px solid #fff;
    padding: 8px;
    display: flex;
    pointer-events: all;
    align-items: center;
  }

  .cart-text {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 7px;
    margin-bottom: 0px;
    font-weight: 700px;
  }

  .item:hover .add-item {
    display: flex;
  }

  .cart:hover {
    box-shadow: 0 0 6px #FFF;
  }
}

.native-plus-top {
  background: #222224;
}

.native-plus-flex {
  display: flex;
  justify-content: space-between;
}

.top-plus {
  padding-top: 103px;
  padding-bottom: 103px;
  text-align: center;
  flex-grow: 1;
}

.top-header {
  margin-top: 25px;
  margin-bottom: 16px;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}
.top-header-center {
  margin-top: 20px;
  margin-bottom: 16px;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}
.top-text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color:rgba(251, 251, 251, 1);
}

.footer {

  .footer-middle {
    background-image: url(../img-1/fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer-middle-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .middle-left {
    text-align: center;
  }

  .middle-right {
    text-align: center;
    align-items: center;
  }

  .footer-middle-img {
    border: 1px solid transparent;
    border-radius: 100%;
    margin-top: 86px;
    margin-bottom: 20px;
  }

  .middle-left-text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-bottom: 126px;
  }

  .middle-right-header {
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    margin-bottom: 3px;
    padding-top: 46px;
  }

  .middle-right-text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-bottom: 39px;
  }

  .form-flex {
    display: flex;
    align-items: center;
  }

  .input-email {
    background: #E1E1E1;
    padding: 12px 22px;
    width: 256px;
    border: 1px solid transparent;
    border-radius: 10px 0px 0px 10px;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
  }

  .submit {
    background: $pink;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 12px;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid transparent;
    transition: color, 0.3s;
  }

  .submit:hover {
    background: #FFF;
    color: $pink;
    border: 1px solid $pink;
  }

  .footer-bottom {
    background: #222224;
  }

  .footer-bottom-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bottom-text {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    padding: 30px 0px;
  }

  .bottom-right {
    display: flex;
  }

  .fab {
    background: #FFF;
    text-decoration: none;
    flex-grow: 1;
    margin-right: 7px;
    text-align: center;
    padding: 8px;
    color: #000;
    transition: color, 0.3s;
  }

  .fab:hover {
    background: $pink;
    color: #FFF;
  }

  .social-photo {
    padding: auto;
    margin-top: 7px;
  }
}

.bread-crumb {
  background-color: #F8F3F4;
}

.bread-crumb-flex {
  display: flex;
  justify-content: space-between;
}

.bread-place {
  font-size: 24px;
  line-height: 29px;
  color: $pink;
  margin: 60px 0;
}

.bread-place-switch {
  text-decoration: none;
  color: #636363;
}

.bread-place-here {
  color: $pink;
}

.breadcrumb {
  margin: 60px 0;
}

.bread-place-switch:hover {
  color: $pink;
}

.slider-carousel {
  background: #F7F7F7;
}

.container-carousel {
  max-width: 600px;
  margin: 0 auto;
}

.carousel-control-prev-icon {
  background-color: rgba(42, 42, 42, 0.15);
}

.carousel-control-next-icon {
  background-color: rgba(42, 42, 42, 0.15);
}

.product-features {
  border: 1px solid #EAEAEA;
  text-align: center;
  background: #fff;
  transform: translate(0,-30px);
}

.product-collection {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: $pink;
  margin-top: 64px;
  margin-bottom: 27px;
}

.product-nameing {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.product-features-text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  width: 50%;
  margin: 0 auto;
}

.product-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $pink;
  margin-top: 32px;
  margin-bottom: 65px;
}

.line-break {
  width: 641px;
  margin: 0 auto;
}

.flex-details-product {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 65px;
  margin-bottom: 48px;
}

.product-choose{
  margin-right: 42px;
}

.product-style {
  list-style-type: none;
}

.product-style {
  display: block;
}

.product-style::-webkit-details-marker {
  display: none;
}

.product-style::after {
  content: '\203A';
  font-size: 24px;
  font-weight: 900;
  padding-left: 0.5em;
  color: #5E5E5E;
}

.product-choose[open] > .product-style::after {
  content: '\25BC';
  font-size: 16px;
}

.product-link-cart {
  border: 1px solid #FF6A6A;
  text-decoration: none;
  color:#F26376;
  padding: 15px 22px;
  text-align: center;
  margin-bottom: 65px;
  transition: color, 0.3s;

}
.product-link-cart:hover {
  color: #FFF;
  background-color: #FF6A6A;
  border:1px solid transparent;
}

.product-link-text {
  padding-left: 22px;
  font-size: 16px;
  line-height: 19px;
}

.filter-flex {
  display: flex;
}

.left-filter {
  margin-right: 304px;
  margin-top: 51px;
  margin-bottom: 23px;
  border: 1px solid transparent;
}

.product-style-filter {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.product-style-filter-category {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.product-style-filter-category::before {
  content: url(../img-1/category.svg);
  margin-right: 11px;
}
.filter-left-text {
  margin-right: 11px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.filter-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter-link:hover {
  color: $pink;
}

.filter-hr {
  margin: 0;
}

.product-choose-filter:active {
  color: $pink;
}

.pagination {
  justify-content: center;
  margin-bottom: 96px;
  margin-top: -70px;

  .page-link {
    color: $pink;
  }
}